<div class="container">
	<h1>Welcome to physioGEEKS!</h1>
	<p>currently under construction... please check back often</p>
	<p>Click here to <%= link_to "sign-up", "#", class: "btn btn-primary btn-lg" %></p>
</div>